@page "/login"
@rendermode InteractiveServer
@using BlazorApp.Auth
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<h3>This is where you login</h3>
<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        <form onsubmit="return false;">
            <label>User name:</label>
            <input type="text" @bind="userName" />
            <label>Password:</label>
            <input type="password" @bind="password" />
            @if (!string.IsNullOrEmpty(errorLabel))
            {
            <label style="color: red">
                @errorLabel
            </label>
            }
            <button @onclick="loginAsync">Log in</button>
        </form>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task loginAsync()
    {
        errorLabel = "";
        try
        {
            Console.WriteLine("Inside loginAsync Method");
            await ((SimpleAuthProvider)AuthProvider).Login(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}