@page "/PostList"
@using BlazorApp.Services
@using DTO
@inject IPostService PostService
<h3>PostList</h3>

@if (posts == null)
{
<p>Loading...</p>
}
else if (posts.Count == 0)
{
<p>No posts available.</p>
}
else
{
<ul>
    @foreach (var post in posts)
    {
    <li>
        <a href="@($"/posts/{post.Id}")">@post.Title</a> Contains:
        @post.body
    </li>
    }
</ul>
}

@code {
    private List<PostDto> posts; // Gemmer listen af posts, der skal vises i brugergrænsefladen

    // Når den starter, henter den data asynkront.
    protected override async Task OnInitializedAsync()
    {
        await HentPosts(); // Kalder en separat metode for at gøre koden mere overskuelig
    }

    // Metode til at hente posts fra PostService
    private async Task HentPosts()
    {
        posts = await PostService.GetallPostsAsync();
        // Blazor opdaterer automatisk brugergrænsefladen, når data er hentet
    }
}